:root {
    --background: #14213d;
    --main: #fca311;
    --main-text: #000000;
    --second-main: #e5e5e5;
  }

body {
    padding-left: 15%;
    padding-right: 15%;

    margin: 10px;
    background-color: var(--background);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    /*create 3 columns of 1 fraction & create 2 rows with a constant height and 2 rows of 1 fraction*/
    
    grid-template: 150px 1fr 1fr 0.1fr / 1fr 1fr 0.5fr;
    gap: 15px;
}

body div {
    padding: 10px;
    /*border: 2px solid #337e88;*/
    border-radius: 5px;

}

.header {
    background-color: var(--second-main);
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-main {
    background-color: rgb(255, 255, 255);

    /*The main content takes up 2 rows*/
    grid-row-start: 2;
    grid-row-end: span 2; 
    grid-column-start: 1;
    grid-column-end: span 2;
}

.content-side {
    background-color: var(--main);
    color: var(--main-text);
    grid-column: 3;
    grid-row: 2 / span 2;
}


.footer {
    background-color: var(--main);
    color: var(--main-text);
    /*start at column 1 and end 3 columns further*/
    grid-column:1 / span 3; 
}

h1 {
    font-size: 60px;
}

.nav-bar {
    font-family: 'Roboto Mono', monospace;

    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.nav-item {
    float: right;
  }
  
.nav-item a {
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-item a:hover {
    color: rgb(160, 137, 62);
    text-decoration: none;
}

.nav-item .active {
    background-color: #04AA6D;
}

.register-box {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.input {
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid;
    width: 100%;
    font-size: .7em;
    padding: 2px 0;
    color: #070707;
    outline: none;
}

.right {
    float: right;
    text-align: center;

}
.left {
    float: left;
}

a {
    color: rgb(255, 175, 25);
}
a:hover {
    color: rgb(160, 137, 62);

}

.login_oueter {
    width: 360px;
    max-width: 100%;
}
.logo_outer{
    text-align: center;
}
.logo_outer img{
    width:120px;
    margin-bottom: 40px;
}
