{% extends "base.html" %}{% block title %}The daily gamer{% endblock %} {% block
content %}
<!--Hieronder is de class waarin we onze menubalk hebben. -->

<div class="main">
  <!---Hier wordt de tekst en buttons onder de taakbalk weergegeven-->
  <h2 class="Welkom">Welcome to The Daily Gamer!</h2>
  <br />
  <p2>Here we will display our daily puzzle to solve.</p2>
  <br />
  <p2>Here comes a form to fill in your answer.</p2>
</div>

{% endblock %}

<!-- Big piece of text: Lets say we want to fill up our page with a bunch of text to see if the css
    is as good as we hope to see right now because we want to test if this css
    grid will also work for bigger things on our site. Hopefully it does! Now
    lets repeat! Lets say we want to fill up our page with a bunch of text to
    see if the css is as good as we hope to see right now because we want to
    test if this css grid will also work for bigger things on our site.
    Hopefully it does! Now lets repeat! Lets say we want to fill up our page
    with a bunch of text to see if the css is as good as we hope to see right
    now because we want to test if this css grid will also work for bigger
    things on our site. Hopefully it does! Now lets repeat!Lets say we want to
    fill up our page with a bunch of text to see if the css is as good as we
    hope to see right now because we want to test if this css grid will also
    work for bigger things on our site. Hopefully it does! Now lets repeat! Lets
    say we want to fill up our page with a bunch of text to see if the css is as
    good as we hope to see right now because we want to test if this css grid
    will also work for bigger things on our site. Hopefully it does! Now lets
    repeat! Lets say we want to fill up our page with a bunch of text to see if
    the css is as good as we hope to see right now because we want to test if
    this css grid will also work for bigger things on our site. Hopefully it
    does! Now lets repeat! -->
